# gradle
.gradle/
build/
out/
classes/

# eclipse
bin/
*.launch
.settings
.metadata

# idea
.idea/
*.ipr
*.iws
*.iml

# vscode
.settings/
.vscode/
.classpath
.project

# macos
*.DS_Store

# neoforge
runs
run-data
repo

# other
eclipse/
run/
libs/
lib/
logs/
images/
desktop.ini
