# AnimationMetadataSection
public net.minecraft.client.resources.metadata.animation.AnimationMetadataSection f_119015_ # frameHeight
public net.minecraft.client.resources.metadata.animation.AnimationMetadataSection f_119014_ # frameWidth
# BakedQuad
public-f net.minecraft.client.renderer.block.model.BakedQuad f_111293_ # tintIndex
# Block
public net.minecraft.world.level.block.Block f_49789_ # OCCLUSION_CACHE
# BlockModel
public net.minecraft.client.renderer.block.model.BlockModel f_111422_ # elements
public net.minecraft.client.renderer.block.model.BlockModel f_111415_ # GSON
public net.minecraft.client.renderer.block.model.BlockModel f_111423_ # guiLight
public net.minecraft.client.renderer.block.model.BlockModel f_111420_ # LOGGER
public net.minecraft.client.renderer.block.model.BlockModel f_111426_ # overrides
public net.minecraft.client.renderer.block.model.BlockModel f_111419_ # parentLocation
public net.minecraft.client.renderer.block.model.BlockModel f_111417_ # textureMap
public net.minecraft.client.renderer.block.model.BlockModel f_111425_ # transforms
public net.minecraft.client.renderer.block.model.BlockModel m_111485_(Ljava/lang/String;)Lcom/mojang/datafixers/util/Either; # findTextureEntry
# FilePackResources$SharedZipFileAccess
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess f_291821_ # file
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess m_295521_()Ljava/util/zip/ZipFile; # getOrCreateZipFile
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess
# LayerDefinition
public net.minecraft.client.model.geom.builders.LayerDefinition <init>(Lnet/minecraft/client/model/geom/builders/MeshDefinition;Lnet/minecraft/client/model/geom/builders/MaterialDefinition;)V
# ModelBakery
public net.minecraft.client.resources.model.ModelBakery f_119214_ # topLevelModels
public net.minecraft.client.resources.model.ModelBakery f_119212_ # unbakedCache
public net.minecraft.client.resources.model.ModelBakery m_119341_(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/resources/model/UnbakedModel; # getModel
# ModelLayers
public net.minecraft.client.model.geom.ModelLayers f_171262_ # ALL_MODELS
# ModelPart
public-f net.minecraft.client.model.geom.ModelPart f_104213_ # children
public-f net.minecraft.client.model.geom.ModelPart f_104212_ # cubes
public net.minecraft.client.model.geom.ModelPart f_233557_ # initialPose
public-f net.minecraft.client.model.geom.ModelPart
# ModelPart$Cube
public net.minecraft.client.model.geom.ModelPart$Cube f_104341_
public-f net.minecraft.client.model.geom.ModelPart$Cube f_104338_ # maxX
public-f net.minecraft.client.model.geom.ModelPart$Cube f_104339_ # maxY
public-f net.minecraft.client.model.geom.ModelPart$Cube f_104340_ # maxZ
public-f net.minecraft.client.model.geom.ModelPart$Cube f_104335_ # minX
public-f net.minecraft.client.model.geom.ModelPart$Cube f_104336_ # minY
public-f net.minecraft.client.model.geom.ModelPart$Cube f_104337_ # minZ
public-f net.minecraft.client.model.geom.ModelPart$Cube f_104341_ # polygons
# ModelPart$Polygon
public-f net.minecraft.client.model.geom.ModelPart$Polygon f_104360_ # vertices
public-f net.minecraft.client.model.geom.ModelPart$Polygon f_104359_ # normal
# ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Polygon
# ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart$Vertex
# MultiPackResourceManager
public net.minecraft.server.packs.resources.MultiPackResourceManager f_203795_
# PackSelectionModel
public net.minecraft.client.gui.screens.packs.PackSelectionModel$EntryBase f_99933_ # pack
public net.minecraft.client.gui.screens.packs.PackSelectionModel$EntryBase
# PartDefinition
public net.minecraft.client.model.geom.builders.PartDefinition f_171579_
public net.minecraft.client.model.geom.builders.PartDefinition <init>(Ljava/util/List;Lnet/minecraft/client/model/geom/PartPose;)V
# PathPackResources
public net.minecraft.server.packs.PathPackResources m_246992_(Ljava/nio/file/Path;)Lnet/minecraft/server/packs/resources/IoSupplier; # returnFileIfExists
# ReloadableResourceManager
public net.minecraft.server.packs.resources.ReloadableResourceManager f_203816_ # listeners
public net.minecraft.server.packs.resources.ReloadableResourceManager f_203815_ # resources
# RenderStateShard
public net.minecraft.client.renderer.RenderStateShard f_110133_ # name
# RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard f_110328_ # texture
# RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType f_110511_ # state
public net.minecraft.client.renderer.RenderType$CompositeRenderType
# RenderType$CompositeState
public net.minecraft.client.renderer.RenderType$CompositeState f_110591_ # outlineProperty
public net.minecraft.client.renderer.RenderType$CompositeState f_110576_ # textureState
# RenderType$OutlineProperty
public net.minecraft.client.renderer.RenderType$OutlineProperty
# SpriteContents
public net.minecraft.client.renderer.texture.SpriteContents f_243904_ # originalImage
public-f net.minecraft.client.renderer.texture.SpriteContents f_244575_ # animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents m_247381_(IIII[Lcom/mojang/blaze3d/platform/NativeImage;)V # upload
# SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture <init>(Lnet/minecraft/client/renderer/texture/SpriteContents;Ljava/util/List;IZ)V # <init>
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
# SpriteLoader
public-f net.minecraft.client.renderer.texture.SpriteLoader f_291626_ # DEFAULT_METADATA_SECTIONS
# TextureAtlasSprite
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite f_118351_ # u0
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite f_118352_ # u1
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite f_118353_ # v0
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite f_118354_ # v1
public net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/SpriteContents;IIII)V # <init>
# TransferableSelectionList
public net.minecraft.client.gui.screens.packs.TransferableSelectionList f_263433_ # screen
# VertexFormat
public com.mojang.blaze3d.vertex.VertexFormat f_86013_ # offsets
