# BlockModelRotation$WithUvLock
public net.minecraft.client.renderer.block.dispatch.BlockModelRotation$WithUvLock
# CuboidModelElement
public-f net.minecraft.client.resources.model.cuboid.CuboidModelElement
# CuboidModel
public-f net.minecraft.client.resources.model.cuboid.CuboidModel GSON
public-f net.minecraft.client.resources.model.cuboid.CuboidModel
# CuboidItemModelWrapper
public net.minecraft.client.renderer.item.CuboidItemModelWrapper <init>(Ljava/util/List;Lnet/minecraft/client/resources/model/geometry/QuadCollection;Lnet/minecraft/client/renderer/item/ModelRenderProperties;Lorg/joml/Matrix4fc;)V
public net.minecraft.client.renderer.item.CuboidItemModelWrapper hasSpecialAnimatedTexture(Lnet/minecraft/world/item/ItemStack;)Z
# EnchantmentHelper
public net.minecraft.world.item.enchantment.EnchantmentHelper getComponentType(Lnet/minecraft/world/item/ItemStack;)Lnet/minecraft/core/component/DataComponentType;
# EntityModelSet
public net.minecraft.client.model.geom.EntityModelSet roots
# FaceBakery
public net.minecraft.client.resources.model.cuboid.FaceBakery defaultFaceUV(Lorg/joml/Vector3fc;Lorg/joml/Vector3fc;Lnet/minecraft/core/Direction;)Lnet/minecraft/client/resources/model/cuboid/CuboidFace$UVs;
public net.minecraft.client.resources.model.cuboid.FaceBakery calculateFacing([Lorg/joml/Vector3fc;)Lnet/minecraft/core/Direction;
# FilePackResources$SharedZipFileAccess
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess file
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess getOrCreateZipFile()Ljava/util/zip/ZipFile;
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess
# GuiGraphicsExtractor
public net.minecraft.client.gui.GuiGraphicsExtractor guiRenderState
# ItemModelGenerator$ItemLayerKey
public net.minecraft.client.resources.model.cuboid.ItemModelGenerator$ItemLayerKey <init>(Lnet/minecraft/client/resources/model/sprite/Material$Baked;Lnet/minecraft/client/renderer/block/dispatch/ModelState;I)V
public net.minecraft.client.resources.model.cuboid.ItemModelGenerator$ItemLayerKey
# ItemTransform$Deserializer
public net.minecraft.client.resources.model.cuboid.ItemTransform$Deserializer DEFAULT_ROTATION
public net.minecraft.client.resources.model.cuboid.ItemTransform$Deserializer DEFAULT_TRANSLATION
public net.minecraft.client.resources.model.cuboid.ItemTransform$Deserializer DEFAULT_SCALE
public net.minecraft.client.resources.model.cuboid.ItemTransform$Deserializer
# LayerDefinition
public net.minecraft.client.model.geom.builders.LayerDefinition <init>(Lnet/minecraft/client/model/geom/builders/MeshDefinition;Lnet/minecraft/client/model/geom/builders/MaterialDefinition;)V
# ModelBakery$ModelBakerImpl
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl <init>(Lnet/minecraft/client/resources/model/ModelBakery;Lnet/minecraft/client/resources/model/sprite/MaterialBaker;Lnet/minecraft/client/resources/model/ModelBaker$Interner;Lnet/minecraft/client/resources/model/ModelBakery$MissingModels;)V
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl
# ModelBakery$InternerImpl
public net.minecraft.client.resources.model.ModelBakery$InternerImpl <init>()V
public net.minecraft.client.resources.model.ModelBakery$InternerImpl
# ModelDiscovery$ModelWrapper
public net.minecraft.client.resources.model.ModelDiscovery$ModelWrapper
# ModelLayers
public net.minecraft.client.model.geom.ModelLayers ALL_MODELS
# ModelPart
public-f net.minecraft.client.model.geom.ModelPart children
public-f net.minecraft.client.model.geom.ModelPart cubes
public net.minecraft.client.model.geom.ModelPart initialPose
public-f net.minecraft.client.model.geom.ModelPart
# ModelPart$Cube
public net.minecraft.client.model.geom.ModelPart$Cube polygons
public-f net.minecraft.client.model.geom.ModelPart$Cube maxX
public-f net.minecraft.client.model.geom.ModelPart$Cube maxY
public-f net.minecraft.client.model.geom.ModelPart$Cube maxZ
public-f net.minecraft.client.model.geom.ModelPart$Cube minX
public-f net.minecraft.client.model.geom.ModelPart$Cube minY
public-f net.minecraft.client.model.geom.ModelPart$Cube minZ
public-f net.minecraft.client.model.geom.ModelPart$Cube polygons
# MultiPackResourceManager
public net.minecraft.server.packs.resources.MultiPackResourceManager packs
# MultiPartModel$SharedBakedState
public net.minecraft.client.renderer.block.dispatch.multipart.MultiPartModel$SharedBakedState
# PackSelectionModel
public net.minecraft.client.gui.screens.packs.PackSelectionModel$EntryBase pack
public net.minecraft.client.gui.screens.packs.PackSelectionModel$EntryBase
# PartDefinition
public net.minecraft.client.model.geom.builders.PartDefinition children
public net.minecraft.client.model.geom.builders.PartDefinition <init>(Ljava/util/List;Lnet/minecraft/client/model/geom/PartPose;)V
# PathPackResources
public net.minecraft.server.packs.PathPackResources returnFileIfExists(Ljava/nio/file/Path;)Lnet/minecraft/server/packs/resources/IoSupplier;
# ReloadableResourceManager
public net.minecraft.server.packs.resources.ReloadableResourceManager resources
# RenderSetup
public net.minecraft.client.renderer.rendertype.RenderSetup outlineProperty
public net.minecraft.client.renderer.rendertype.RenderSetup textures
# RenderSetup$TextureBinding
public net.minecraft.client.renderer.rendertype.RenderSetup$TextureBinding <init>(Lnet/minecraft/resources/Identifier;Ljava/util/function/Supplier;)V
public net.minecraft.client.renderer.rendertype.RenderSetup$TextureBinding
# RenderType
public net.minecraft.client.renderer.rendertype.RenderType name
public net.minecraft.client.renderer.rendertype.RenderType state
# SpriteContents
public net.minecraft.client.renderer.texture.SpriteContents originalImage
public-f net.minecraft.client.renderer.texture.SpriteContents animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents additionalMetadata
public-f net.minecraft.client.renderer.texture.SpriteContents mipmapStrategy
public-f net.minecraft.client.renderer.texture.SpriteContents alphaCutoffBias
public net.minecraft.client.renderer.texture.SpriteContents name
public net.minecraft.client.renderer.texture.SpriteContents width
public net.minecraft.client.renderer.texture.SpriteContents height
# SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture frames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture interpolateFrames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture <init>(Lnet/minecraft/client/renderer/texture/SpriteContents;Ljava/util/List;IZ)V
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
# SpriteContents$AnimationState
public net.minecraft.client.renderer.texture.SpriteContents$AnimationState <init>(Lnet/minecraft/client/renderer/texture/SpriteContents;Lnet/minecraft/client/renderer/texture/SpriteContents$AnimatedTexture;Lit/unimi/dsi/fastutil/ints/Int2ObjectMap;[Lcom/mojang/blaze3d/buffers/GpuBufferSlice;)V
# SpriteContents$FrameInfo
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo <init>(II)V
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
# Stitcher
public net.minecraft.client.renderer.texture.Stitcher mipLevel
# TextureAtlasSprite
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite u0
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite u1
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite v0
public-f net.minecraft.client.renderer.texture.TextureAtlasSprite v1
public net.minecraft.client.renderer.texture.TextureAtlasSprite padding
# TextureSlots
public net.minecraft.client.resources.model.sprite.TextureSlots resolvedValues
public net.minecraft.client.resources.model.sprite.TextureSlots <init>(Ljava/util/Map;)V
# TextureSlots$Reference
public net.minecraft.client.resources.model.sprite.TextureSlots$Reference <init>(Ljava/lang/String;)V
public net.minecraft.client.resources.model.sprite.TextureSlots$Reference
# TextureSlots$Value
public net.minecraft.client.resources.model.sprite.TextureSlots$Value <init>(Lnet/minecraft/client/resources/model/sprite/Material;)V
public net.minecraft.client.resources.model.sprite.TextureSlots$Value
# TransferableSelectionList
public net.minecraft.client.gui.screens.packs.TransferableSelectionList screen
# Transformation
public com.mojang.math.Transformation decomposed
